body {
    color: red;
}

.title {
    font-size: 6rem;
}

.sub-title {
    font-size: 4rem;
}

@media (max-width: 500px)  {
    body {
        color: royalblue;
    }
} 

@media (orientation: landscape)  {
    .title {
        color: green;
    }
} 

@media (orientation: portrait)  {
    .sub-title {
        color: cyan;
    }
} 